<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>254334856152-pgbpmp2nl4mtr0g0pjfv7a56covhcgq5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.254334856152-pgbpmp2nl4mtr0g0pjfv7a56covhcgq5</string>
	<key>API_KEY</key>
	<string>AIzaSyC4lnE_h2jj4CsyEX2LWSPkqp3b9bJ5BBw</string>
	<key>GCM_SENDER_ID</key>
	<string>254334856152</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cwf123.Carpooler</string>
	<key>PROJECT_ID</key>
	<string>carpooler-f60a2</string>
	<key>STORAGE_BUCKET</key>
	<string>carpooler-f60a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:254334856152:ios:afc6ec24316ef543</string>
	<key>DATABASE_URL</key>
	<string>https://carpooler-f60a2.firebaseio.com</string>
</dict>
</plist>
